.progressbar {
    background-color: white;
    width: 400px;
    position: absolute;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    left: 8%;
    top: 20%;
    height: 300px;

    .progress {
        width: 300px;
        margin-left: 50px;
        margin-top: 23px;
    }
}