<div class="sidebar">
   <div>
      <div class="btn1">
      <button mat-mini-fab color="warn" aria-label="Home Button">
         <mat-icon>home</mat-icon>
      </button>
      </div>
      <div class="btn2">
         <button mat-mini-fab aria-label="Manage Button">
            <mat-icon>settings</mat-icon>
         </button>
      </div>
      <div class="btn3">
         <button mat-mini-fab aria-label="Info Button">
            <mat-icon>info</mat-icon>
         </button>
      </div>
      <hr>
      <div class="profile">
         <a mat-mini-fab color="warn">
            <mat-icon>people</mat-icon>
         </a>
      </div>
      <div class="logout">
         <a mat-mini-fab color="warn">
            <mat-icon>logout</mat-icon>
         </a>
      </div>
   </div>
</div>